/* General Styles */
body {
  font-family:'Times New Roman', Times, serif;
 background-color: rgb(101, 178, 101);
  /* background-image: linear-gradient(green, white ); */
}

/* Navbar */
.navbar {
  transition: background 0.3s ease-in-out;
}

.navbar-brand {
  font-weight: bold;
}

.info-text{
  font-size: large;
  /* font-weight: 200; */
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin-right: 15px;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #1ab9c2 !important;
}


/* about section */
.custom-hr {
  width: 50px;
  height: 5px;
  background-color: #fff;
  
  border-radius: 10%;
  margin: 10px auto; 
  transition: all 0.3s ease-in-out;
}

h2.text-center:hover + .custom-hr {
  width: 150px; 
   /* Expands width */
  /* height:10px;   */
   
  background-color: #ffff; 
  
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url('./images/adr-bg.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
}

.hero .btn {
  padding: 10px 20px;
  font-size: 1.2rem;
}

/* Service Cards */
.service-card {
  height: 100%;
  text-align: center;
  background: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.service-card:hover {
  background: #1ab9c2;
  color: white;
  transform: translateY(-5px);
}


/* .others-card {
  height: 100%;
  background: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
} */

.others-card:hover {
  /* background: #f8b400; */
  color: white;
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;

}

.others{
  height: 70%;
  background: #1ab9c2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

/* --------------- */
.section-3{
  /* background-color: #f9fafb; */
  background-image: linear-gradient(whitesmoke, rgb(38, 37, 37));
}

.step-card {
  height: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.step-card:hover {
  transform: translateY(-5px);
  background-color: #1ab9c2;
}

.icon {
  width: 64px;
  height: 64px;
}

/* Footer */
.footer {
  color: white;
  text-align: center;
  padding: 20px;
}

.social-icons a {
  /* color: white; */
  /* margin: 0 10px; */
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #f8b400;
}

h5 a.email-link {
  text-decoration: none;
  color: white;
}

h5 a.email-link:hover {
  text-decoration: underline;
  color: whitesmoke;
}


/* -------------services section----------- */
.service-main-container{
  padding-top: 10rem;
  /* height: 100vh; */
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  /* text-align: left; */
  padding-right: 7rem ;
  padding-left: 7rem;
  
}

.footer-links a{
  font-weight: 400;
  color: white;
  text-align: center;
  text-decoration: none;
  /* padding: 20px; */
}
.footer-links a:hover{
  text-decoration: underline;
}